*{
padding:0;
box-sizing: border-box;
}
.container div{
    border:1px solid black;
    text-align: center;
    background-color: rgb(61, 61, 175);
    color: aliceblue;
    font-size:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item1{
    grid-area:header;
}
.item2{
    grid-area:sidebar;
}
.item3{
    grid-area: content1;
}
.item4{
    grid-area:content2;
}
.item5{
    grid-area: content3;
}
.item6{
    grid-area:footer;
}
.container{
    width: 50%;
    display: grid;
    grid-template-areas:'header header header'
    'sidebar content1 content1'
    'sidebar content1 content1'
    'sidebar content2 content3'
    'sidebar content2 content3'
    'footer footer footer';
    height: 600px;
    gap: 20px;
    background-color: black;
}

